body {
    background:#A6033F;
    font-family:Arial, Helvetica, sans-serif;
} 

.assignments{
    display:flex;
    flex-wrap:wrap;
}
 
.assignment {
    width:22%;
    padding:10px;
    margin:10px;
    margin-bottom:30px;
    background:#CCCCCC;
    border-radius:5px;
    box-shadow: 5px 8px gray;
}

.assignment img{
    width:200px;
    border:2px solid #333333;
    margin-right:20px;
    border-radius:5px;
    display:block;
    margin:auto;
}

h1 {
    color:#010D00;
    text-align:center;
}

a{
    text-decoration:none;
    color:#DE264C;
}

.assignment a:hover{
    color:rgb(58, 52, 52);

}